@using task_beta.Controllers
@model deleteController
@{

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Details</title>
    <link rel="stylesheet" href="~/css/Forms.css">
</head>
<body>
    <header>
        <ul class="list-style">
            <li><a href="~/Home">Home</a></li>
            <li><a href="~/Watch/Observer">Observer</a></li>
            <li><a href="~/Edit/Editor">Editor</a></li>
            <li><a href="#">Deleter</a></li>
        </ul>
    </header>
    <main>
        <div class="addModule orderContainer ">
            <div class="textInMain addText textOrder">
                <p>СТРАНИЦА УДАЛЕНИЯ ЭЛЕМЕНТА (DELETE)</p>
            </div>

            <form asp-action="DeleterPost" class="Form" method="post">
                <p>
                    <label asp-for="order.IdOrder">Id заказа:</label>
                    <input type="text" id="idOrder" asp-for="order.IdOrder" placeholder="Id...">
                    <span asp-validation-for="order.IdOrder" class="text-danger"></span>
                </p>

                <button> Удалить </button>
            </form>
        </div>
    </main>
</body>
</html>